<section class="page_header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
    </div>
  </div>
</section> 
  <section class="shop-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="cart-table table table-bordered">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Plato</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor="let item of cartItems$ | async">
                <td>
                  <a (click)="removeItemFromCart(item.id_menu)"><i class="fa fa-times"></i
                  ></a>
                </td>
                <td>
                  <a
                    ><img
                    src="{{env + item.foto}}"
                      alt=""
                      height="90"
                      width="90"
                  /></a>
                </td>
                <td>
                  <a > {{ item.plato }}</a>
                </td>
                <td>
                  <span class="amount">${{ item.precio_unitario}}</span>
                </td>
                <td>
                  <div class="quantity">{{ item.cantidad}}</div>
                </td>
                <td>
                  <span class="amount">${{ item.precio_unitario * item.cantidad}}</span>
                </td>
              </tr>
          
              <tr *ngIf="(cartItems$ | async)?.length != 0">
                <td colspan="6" class="actions">
                  <div class="col-md-6"> 
                  </div>
                  <div class="col-md-6">
                    <div class="cart-btn">
                     
                      <button *ngIf="isAuthenticated()" 
                        class="btn btn-success"
                        type="submit"
                        (click)="createReserva()"
                      >
                        RESERVAR
                      </button>
                      <button *ngIf="!isAuthenticated()"
                        class="btn btn-success"
                        routerLink="/login"
                      >
                        Login
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="cart_totals">
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <label>Comentario</label>
                  <input
                    type="text"
                    value
                    class="form-control"
                    [(ngModel)]="comentario"
                    style="transform:translatex(0px) translatey(0px);
                    background-color:#dcdcb1;
                    border-top-left-radius:8px;
                    border-top-right-radius:8px;
                    border-bottom-left-radius:8px;
                    border-bottom-right-radius:8px;"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 push-md-6 no-padding">
              <h4 class="text-left">Total</h4>
              <br />
              <table class="table table-bordered col-md-6">
                <tbody>
                  <tr>
                    <th>Carrito Total</th>
                    <td><span class="amount">$ {{ cartService.getTotalItems() | number:'1.2-2' }}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>